html, body {
    overflow-x: hidden;
    
}

body {
    width: 100%;
}

/* navigation */

#topnav {
    float: right; 
    margin-bottom: 50px;
    
    
}

a.nav,
a.about,
a.portfolio,
a.contact {
    font-size: 18px;
    color: black !important;
    font-weight: lighter !important;
    text-decoration: none;
    padding: 18px 16px;
    font-family: 'open sans condensed';
    
}

/* profile pic and name */

.profilepic {
    height: 500px;
    width: 500px;
    max-width: 100%;
   
}




#rightside {
    position: relative;
    margin: auto;
    padding: 80px;
}



a.resumebtn,
a.resumebtn:link,
a.resumebtn:visited,
a.resumebtn:hover {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 5px;
    width: 30%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    
   
}



h2 {
    text-align: center;
    font-family: 'open sans condensed';
    font-size: 70px;
   
}

h3 {
    text-align: center;
    font-family: 'open sans condensed';
    font-size: 40px;
}



/* technologies */

.technologies {
    border: 1px solid white;
    padding: 120px;
    margin: 50px 20px;
    background-color: #F4EBDF;
}

.technologies h3 {
    font-size: 30px;
}

/* bio */

.bio {
    padding: 50px;
}

#biorow {
    margin: 0;
}

#aboutbio {
   margin: auto;
   padding: 40px;
   text-align: center;
}


.biopic {
    height: 500px;
    width: 500px;
    max-width: 100%;
    margin-left: 30px;
}



#phone,
#github,
#linkedin {
    padding-left: 12px;
}

/* view portfolio arrow */

.viewfolio {
    font-family: 'open sans condensed';
    font-size: 14px;
    text-align: center;
}

.contact-icons,
#downarrow {
    text-align: center;
}

#arrow {
    margin-top: 30px;
    margin-bottom: 10px;
    
}

/* portfolio */

.row {
    display: flex;
    flex-wrap: wrap;
  
}


.content {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.content .content-overlay {
    display: flex;
    position: absolute;
    background: black;
    height: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;

    
   
}

.content:hover .content-overlay {
    opacity: 0.7;
}

.content-details {
    position: absolute;
    text-align: center;
    opacity: 0;
    color: white;
   
}

.content:hover .content-details {
    opacity: 1;
}


#weathertext {
    font-size: 14px;
}

#burger,
#teamprof,
#nwveg,
#employee-tracker,
#weather-dashboard,
#note {
    height: auto;
    width: 100%;
    max-width: 100%; 
} 

#nwveg,
#employee-tracker {
    height: 330px;
}




a,
a:link,
a:visited,
a:hover {
    color: white;
    font-weight: bold;
}

.githublink {
    margin-right: 10px;
}

/* view projects link */

a.viewprojects {
    color: black;
    font-family: 'open sans condensed';
    font-size: 16px;
    float: right;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 10px;
    
}

/* contact info */

.contactpic {
    width: 100%;
    height: 500px;
}

.contactinfo {
    position: relative;
}

.contactme {
    position: absolute;
    top: 50%;
    left: 47%;
    cursor: pointer;
    font-family: 'open sans condensed';
    text-align: center;
    background-color: white;
    border-color: white;
    box-shadow: 10px 5px 5px #B4D2E9;
    padding: 5px 20px;
    font-size: 20px;
}

.contactme:active,
.contactme:hover {
    border-color: white;
}

/* footer */


.footer-container {
    text-align: center;
    padding-top: 5px;
}


h4 {
    font-size: 12px;
}

/* media queries */

@media only screen and (min-width: 1025px) {
    
    h2 {
        font-size: 60px;
    }

}

/* tablet view */

@media only screen and (min-width: 768px) and (max-width: 1024px ) {
    #intro {
        flex-direction: column-reverse;
    }

    a.resumebtn,
    a.resumebtn:link,
    a.resumebtn:visited,
    a.resumebtn:hover {
        width: 25%;
    }

    .content-overlay {
        overflow: scroll;
    }

    #introphoto {
        height: 100%;
        width: 100%;
    }

    .profilepic {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }

    #aboutbio,
    #aboutbio h3 {
        text-align: left;

    }

    .bio {
        padding: 0;
    }

    .biopic {
        margin-top: 80px;
    }


    #pcontain {
        margin-right: auto;
        margin-left: auto;
    }

    .projecdiv {
        text-align: center;
    }

    #rightside {
        width: 100%;
    }

   #notecolumn,
   #burgercolumn,
   #teamcolumn,
   #nwvegcolumn,
   #employeecolumn,
   #weathercolumn {
    width: 50%;
   }

   .contactme {
       left: 45%;
   }

}

/* mobile view */

@media only screen and (min-width: 768px) and (max-width: 812px) {
    #notecolumn,
    #burgercolumn,
    #teamcolumn,
    #nwvegcolumn,
    #employeecolumn,
    #weathercolumn {
     width: 100%;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    #notecolumn,
    #burgercolumn,
    #teamcolumn,
    #nwvegcolumn,
    #employeecolumn,
    #weathercolumn {
     width: 100%;
    }

    .biopic {
        width: 100%;
    }


}



@media only screen and (min-width: 320px) and (max-width: 767px) {

    .row {
        flex-direction: column-reverse;
    }

    a.resumebtn,
    a.resumebtn:link,
    a.resumebtn:visited,
    a.resumebtn:hover {
        width: 40%;
    }
    
    #introphoto {
        height: 100%;
        width: 100%;
    }

    .profilepic {
        display: block;
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }

    #rightside {
        width: 100%;
    }

    #rightside h3 {
        font-size: 25px;
    }

    

    h2 {
        font-size: 57px;
    }

    h3 {
        font-size: 30px;
    }


    #secondpic {
        flex: 0 0 auto;
        width: 100%;
    }

    #bio {
        width: 100%;
        text-align: center;
    }

    #biorow {
        flex-direction: column;
    }


    #arrow {
        margin-top: 50px;
    }

    #aboutbio {
        width: 100%;
        padding: 0;
    }

    #aboutbio h3 {
        margin-top: 15px;
    }

    #projectsfolio {
        flex-direction: column;
    }

    #note,
    #burger {
        width: 100%;
    }



    .technologies {
        padding: 35px;
    }

    .technologies h3 {
        font-size: 25px;
        
    }

    .contactme {
        left: 40%;
    }
}



@media only screen and (min-width: 320px) and (max-width: 575px) {
    h2 {
        font-size: 50px !important;
    }

    .bio {
        padding: 0px;
    }

    .biopic {
        height: 100%;
        width: 100%;
        margin-left: 5px;
    }
}
